main {
    background-image: linear-gradient(115deg, rgba(14, 177, 210, 0.5), rgba(52, 228, 234, 0.4)), url(/images/jason-goodman-Oalh2MojUuk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#title-section {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.5px;
    -webkit-text-stroke-width: 0.10px;
}

#survey-form {
    color: white;
    background-color: rgb(43, 65, 65, 0.75);
    border-radius: 2.5%;
    padding: 2%;
    margin: 0 10% 0 10%;
}

input, #dropdown, 
#most-like, #comments {
    border-radius: 0.25rem;
    padding: 1%;
}

h1 {
    color: rgb(43, 65, 65);
}

#description {
    font-size: 1rem;
    font-style: italic;
    color: rgb(43, 65, 65);
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0 15% 0 5%;
    margin: 1% auto 0 auto;
}

#dropdown {
    border: 2px solid palegreen;
}

#submit {
    display: block;
    width: 82%;
    padding: 0.75rem;
    border-radius: 2px;;
    cursor: pointer;
    margin: 1% 10% 0 auto;
}